<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
</head>
<body>
    <div class="inline bordered_list">
        <h1>Registration</h1>
        {% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
                    {% if messages %}                            <!-- check if there are any messages -->
                        {% for message in messages %}            <!-- loop through the messages -->
                            <p>{{message}}</p>                   <!-- display each message in a paragraph tag -->
                        {% endfor %}
                    {% endif %}
                {% endwith %} 
        <form action="/register" method="POST" class="form-control">
            <p>First Name: <input type="text" name="first_name"></p>
            <p>Last Name: <input type="text" name="last_name"></p>
            <p>Email: <input type="text" name="email"></p>
            <p> Dojo Location <select name='dojo_location'>
                <option value="" selected disabled hidden>Choose Dojo Location</option>
                <option name="chicago">Chicago</option>
                <option name="LA">LA</option>
                <option name="seattle">Seattle</option>
            </select></p>
            <p>Password: <input type="text" name="password"></p>
            <p>Confirm Password: <input type="text" name="cpassword"></p>
            <p>Birth Date (must be at least 18 years old): <input type="date" name="birth_date"></p>
            <input type="submit" value="Register">
            
        </form>
    </div>

    <div class="inline bordered_list"> 

        <h1>Login</h1>
        <form action="/login" method="POST">
            
            <p>Email: <input type="text" name="username"></p>
            <p>Password: <input type="text" name="password"></p>
            
            <input type="submit" value="Login!">
        </form>

        <form action="/view_all" method = "POST" class="inline">
            <input type="submit" name = "viewAll" value="Click To Browse All Recipes" class = "linkButton">
        </form>
    </div>
</body>
</html>